*.o
*.a
*.exe
*.exe~
*.dll
*.so
*.dylib
*.[568vq]
[568vq].out
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go

/bin
/cmd/ns/pkged.go
/config.yml
/log
/tools/bin
/tmp
/.envrc
/.env.local
/.env.*.local
/.go-version

_obj
_test
_tmp
node_modules
